[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-6.0.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/RedTurtle/iocomune-backend/main/versions.cfg
    base.cfg

update-versions-file = test_plone60.cfg

[versions]

# Added by buildout at 2021-12-29 11:05:41.321569
flake8 = 5.0.0
flake8-coding = 1.3.2
flake8-debugger = 3.2.1
flake8-print = 3.1.4
mccabe = 0.7.0
importlib-metadata=4.2
plone.recipe.codeanalysis = 3.0.1
pyflakes = 2.5.0
zpretty = 2.1.0

# Required by:
# flake8-debugger==3.2.1
# flake8-print==3.1.4
pycodestyle = 2.9.0

# Added by buildout at 2023-01-12 09:16:52.328614
bleach = 5.0.1
build = 0.9.0
commonmark = 0.9.1
i18ndude = 5.3.4
keyring = 23.11.0
pep517 = 0.13.0
pkginfo = 1.8.3
readme-renderer = 37.3
requests-toolbelt = 0.10.1
rfc3986 = 2.0.0
rich = 12.6.0
twine = 4.0.1
zest.releaser = 7.2.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.48

# Required by:
# eea.api.taxonomy==1.5
collective.taxonomy = 3.0.0

# Required by:
# zest.releaser==7.2.0
colorama = 0.4.6

# Required by:
# design.plone.contenttypes==6.0.0.dev0
eea.api.taxonomy = 1.5

# Required by:
# keyring==23.11.0
jaraco.classes = 3.2.3

# Required by:
# jaraco.classes==3.2.3
more-itertools = 9.0.0

# Required by:
# check-manifest==0.48
tomli = 2.0.1

# Required by:
# bleach==5.0.1
webencodings = 0.5.1
